/* Cor padrão dos mapas: Cinza Escuro */
path { 
    fill: #777777 !important; 
    stroke: #ffffff; 
    stroke-width: 0.8; 
    transition: 0.2s; 
}

/* Hover nos cinzas: Clareia */
path:hover { fill: #999999 !important; }

/* Áreas com MRV: Verde */
path.commrv { fill: #065e03 !important; cursor: pointer; }
path.commrv:hover { fill: #ff8c00 !important; }

/* Força a Grande SP a ser Verde no Mapa do Estado */
#grandesaopaulo { 
    fill: #065e03 !important; 
    cursor: pointer !important; 
}
#grandesaopaulo:hover { 
    fill: #ff8c00 !important; 
}

/* Destaque do selecionado */
path.path-ativo { 
    fill: #ff8c00 !important; 
    stroke: #000 !important; 
    stroke-width: 1.5px !important; 
}
